[data-icon-cricle] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
[data-icon-cricle="gray"] {
  background-color: #EEF2F7;
}

[data-icon="youtube"] {
  color:#EE2328;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.4rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/component/icon/youtube.svg');
  mask-image: url('../img/component/icon/youtube.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

[data-icon="setting"] {
  color:#000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/component/icon/setting.svg');
  mask-image: url('../img/component/icon/setting.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

[data-icon="allmenu"] {
  color:#000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/component/icon/allmenu.svg');
  mask-image: url('../img/component/icon/allmenu.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

[data-icon="link"] {
  color:#D4D4D4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/component/icon/link.svg');
  mask-image: url('../img/component/icon/link.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 1.8rem;
  mask-size: 1.8rem;
  -webkit-mask-position: center;
  mask-position: center;
}

[data-icon="wind-arrow"] {
  color:#000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1.3rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/common/arrow-wind.svg');
  mask-image: url('../img/common/arrow-wind.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

[data-icon="calendar-check"] {
  color:#000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/icon/icon-aspect-calendar-check.svg');
  mask-image: url('../img/icon/icon-aspect-calendar-check.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}


[data-icon="legend-1"] {
  color:#D4D4D4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/icon/icon-legend-1.svg');
  mask-image: url('../img/icon/icon-legend-1.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 2.4rem;
  mask-size: 2.4rem;
  -webkit-mask-position: center;
  mask-position: center;
}
[data-icon="legend-2"] {
  color:#D4D4D4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/icon/icon-legend-2.svg');
  mask-image: url('../img/icon/icon-legend-2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 2.4rem;
  mask-size: 2.4rem;
  -webkit-mask-position: center;
  mask-position: center;
}
[data-icon="legend-3"] {
  color:#000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: currentColor;
  -webkit-mask-image: url('../img/icon/icon-legend-3.svg');
  mask-image: url('../img/icon/icon-legend-3.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 2.4rem;
  mask-size: 2.4rem;
  -webkit-mask-position: center;
  mask-position: center;
}


/* weather */
[data-icon-weather] {
  display: flex;
  width: 5.2rem;
  height: 5.2rem;
  background-size: 5.2rem;
  background-position: center;
}
[data-icon-weather="NB01"] {
  background-image: url('../img/weather/NB01.png');
}
[data-icon-weather="NB02"] {
  background-image: url('../img/weather/NB02.png');
}
[data-icon-weather="NB03"] {
  background-image: url('../img/weather/NB03.png');
}
[data-icon-weather="NB04"] {
  background-image: url('../img/weather/NB04.png');
}
[data-icon-weather="NB05"] {
  background-image: url('../img/weather/NB05.png');
}
[data-icon-weather="NB06"] {
  background-image: url('../img/weather/NB06.png');
}
[data-icon-weather="NB07"] {
  background-image: url('../img/weather/NB07.png');
}
[data-icon-weather="NB08"] {
  background-image: url('../img/weather/NB08.png');
}
[data-icon-weather="NB09"] {
  background-image: url('../img/weather/NB09.png');
}
[data-icon-weather="NB10"] {
  background-image: url('../img/weather/NB10.png');
}
[data-icon-weather="NB11"] {
  background-image: url('../img/weather/NB11.png');
}
[data-icon-weather="NB12"] {
  background-image: url('../img/weather/NB12.png');
}
[data-icon-weather="NB13"] {
  background-image: url('../img/weather/NB13.png');
}
[data-icon-weather="NB14"] {
  background-image: url('../img/weather/NB14.png');
}
[data-icon-weather="NB15"] {
  background-image: url('../img/weather/NB15.png');
}
[data-icon-weather="NB16"] {
  background-image: url('../img/weather/NB16.png');
}
[data-icon-weather="NB17"] {
  background-image: url('../img/weather/NB17.png');
}
[data-icon-weather="NB18"] {
  background-image: url('../img/weather/NB18.png');
}
[data-icon-weather="NB19"] {
  background-image: url('../img/weather/NB19.png');
}
[data-icon-weather="NB20"] {
  background-image: url('../img/weather/NB20.png');
}
[data-icon-weather="NB21"] {
  background-image: url('../img/weather/NB21.png');
}
